
<title>My application deployed automatically</title>
  <h1>Hello, World! I am Deniz!</h1>
   <p>Please enter list of integers to the first and second box, 
   and enter your integers to the third and fourth box to search if they are in any of these lists or their multiplication or their sum</p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
