
<title>My application deployed automatically</title>
  <h1 style="text-align:center;"><font face="monospace" size="40px">Hello, World! I am Deniz! And this is my function</font></h1>
   <p style="text-align:center;"><font face="monospace"><i>Please enter list of integers to the <b>first and second box</b>, 
   and enter your integers to the <b>third and fourth</b> box to search if these <b>two integers/their multiplications/their sums</b> are in any of these lists.</i></font></p>
    Result is {{result}}
    <hr>


  <form action="compute" method="post">
        <p style="font-family:monospace;"><b>First Arraylist</b></p>
        <textarea name="input1" rows="10" cols="10"></textarea>
        <p style="font-family:monospace;"><b>Second Arraylist</b></p>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <hr>
        <p style="font-family:monospace;"><b>First Integer</b></p>
        <textarea name="input3" rows="5" cols="10"></textarea>
        <p style="font-family:monospace;"><b>Second Integer</b></p>
        <textarea name="input4" rows="5" cols="10"></textarea>
        <br>
        <input type="submit">
  </form>
