
<title>My application deployed automatically</title>
  <h1 style="font-size:40px;" style="font-family:monospace;" style="text-align:center;">Hello, World! I am Deniz! And this is my function</h1>
   <p style="text-align:center;"><i>Please enter list of integers to the <b>first and second box</b>, 
   and enter your integers to the <b>third and fourth</b> box to search if these <b>two integers/their multiplications/their sums</b> are in any of these lists.</i></p>
    Result is {{result}}
    <hr>


  <form action="compute" method="post">
        <p><b>First Arraylist style="font-family:monospace;"</b></p>
        <textarea name="input1" rows="10" cols="10"></textarea>
         <p><b>Second Arraylist style="font-family:monospace;"</b></p>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <hr>
        <p><b>First Integer style="font-family:monospace;"</b></p>
        <textarea name="input3" rows="5" cols="10"></textarea>
        <p><b>Second Integer style="font-family:monospace;"</b></p>
        <textarea name="input4" rows="5" cols="10"></textarea>
        <br>
        <input type="submit">
  </form>
